# Dependencies
node_modules

# Build output
.next
out
build
dist

# Cache
.cache

# Lock files
package-lock.json
yarn.lock
pnpm-lock.yaml

# Env files
.env*

# Logs
*.log

# Other
.DS_Store
coverage
next-env.d.ts


